<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {{ section.title }}
    {% endblock%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- favicon -->
    <link rel="shortcut icon" href="https://freevector-images.s3.amazonaws.com/uploads/vector/preview/36682/36682.png"
        type="image/x-icon">

</head>

<body>
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
            <div class="col-md-1 mt-3">
                <button class="btn btn-success" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Menu</button>

                <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">Admin Dashboard</h5>
                        <button type="button" class="bg-dark text-white border-0" data-bs-dismiss="offcanvas"
                            aria-label="Close">
                            <span class="fs-1">&times;</span>
                        </button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="list-unstyled">
                            <li><a href="/products/addproduct" class="text-decoration-none text-white">
                                    <i class="fas fa-plus"></i> &nbsp;
                                    Add Product</a></li>
                            <li><a href="/products/addcategory" class="text-decoration-none text-white">
                                    <i class="fas fa-plus"></i> &nbsp;
                                    Add Category</a></li>
                            <li><a href="" class="text-decoration-none text-white">
                                    <i class="fas fa-plus"></i> &nbsp;
                                    Users</a></li>
                            <li><a href="/products/allorder" class="text-decoration-none text-white">
                                    <i class="fas fa-plus"></i> &nbsp;
                                    Orders</a></li>
                            <li><a href="" class="text-decoration-none text-white">
                                    <i class="fas fa-plus"></i> &nbsp;
                                    Profile</a></li>
                            <li><a href="/products" class="text-decoration-none text-white">
                                    <i class="fas fa-plus"></i> &nbsp;
                                    Products</a></li>
                            <li><a href="/products/category" class="text-decoration-none text-white">
                                    <i class="fas fa-plus"></i> &nbsp;
                                    Categories</a></li>
                        </ul>
                    </div>
                    <div class="offcanvas-body">
                        <div>
                            <img src="https://www.persofoto.de/apple-touch-icon-180x180.png" alt=""
                                style="height: 200px; width:200px" class="rounded-circle">
                        </div>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none text-white"><b>Name:</b> {{request.user.username}}</a></li>
                            <li><a href="#" class="text-decoration-none text-white"><b>Status:</b> Super Admin</a></li>
                            <li class="mt-4"><a href="/logout"
                                    class="text-decoration-none text-white btn btn-danger">Logout</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        {% block main_content %}

        {% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>